### Context
Africa is a continent that covers 6% of the Earth's surface and 20% of the land surface. Its area is 30,415,873 km2 with the islands, making it the third largest in the world if we count America as a single continent. With more than 1.3 billion inhabitants, Africa is the second most populous continent after Asia and represents 17.2% of the world population in 2020.

Africa abounds in very varied energy sources, distributed in distinct zones: abundance of fossil fuels (gas in North Africa, oil in the
Gulf of Guinea and coal in southern Africa), hydraulic basins in Central Africa, deposit uranium; solar radiation in Sahelian countries; and geothermal capacities in East Africa.
Despite this, it has been a prey to conflicts (socio-political, political, social, civil war, government mismanagement, etc.) since the independence of its countries. And also a land of fierce lust for powerful countries and large multinational corporations.

#### Content
data is acquired by ACLED (Armed Conflict Location & Event Data) project. The ACLED project report information on the type, agents, location, date, and other characteristics of political violence events, demonstrations and select politically relevant non-violent events. Also, ACLED focuses on tracking a range of violent and non-violent actions by political agents, including governments, rebels, militias, identity groups, political parties, external actors, rioters, protesters and civilians. Africa conflict 1997-2020 datasets is one of database of the ACLED project.

For detail acleddata.com
Codebook: ACLED codebook
Guide User Quick Guide

Acknowledgements
Thanks to “Armed Conflict Location & Event Data Project (ACLED); https://www.acleddata.com.”

Inspiration
Can you understand how conflicts evolve in Africa from 1997 to 2020 and what link is there between the energy ressources of certain regions of Africa and conflicts? (Make your Geopolitics, Geo-economics and Geo-energy skills in practical)

In [2]:
import pandas as pd
import numpy as np

In [3]:
africa_df = pd.read_csv("Africa_1997-2020.csv",delimiter=';')
africa_df.head()

,ISO,EVENT_ID_CNTY,EVENT_ID_NO_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,...,ADMIN3,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TIMESTAMP
0,12,ALG1,1,01-janvier-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Douaouda,36672,2789,1,Algeria Watch,Other,5 January: Beheading of 5 citizens in Douaouda...,5,1582579226
1,12,ALG2,2,02-janvier-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Hassasna,36133,883,1,Algeria Watch,Other,Two citizens were beheaded in Hassasna.,2,1582579226
2,12,ALG3,3,03-janvier-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Hassi El Abed,34966,"-0,29",1,Algeria Watch,Other,Two citizens were killed in a raid on the vill...,2,1582579226
3,12,ALG4,4,04-janvier-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Blida,36469,2829,1,Algeria Watch,Other,4 January: 16 citizens were murdered in the vi...,16,1582579226
4,12,ALG5,5,05-janvier-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Douaouda,36672,2789,1,Algeria Watch,Other,5 January: Killing of 18 citizens in the Olivi...,18,1582579226

In [4]:
africa_df.shape

(65535, 29)

In [5]:
africa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ISO               65535 non-null  int64
 1   EVENT_ID_CNTY     65535 non-null  object
 2   EVENT_ID_NO_CNTY  65535 non-null  int64
 3   EVENT_DATE        65535 non-null  object
 4   YEAR              65535 non-null  int64
 5   TIME_PRECISION    65535 non-null  int64
 6   EVENT_TYPE        65535 non-null  object
 7   SUB_EVENT_TYPE    65535 non-null  object
 8   ACTOR1            65535 non-null  object
 9   ASSOC_ACTOR_1     12768 non-null  object
 10  INTER1            65535 non-null  int64
 11  ACTOR2            50346 non-null  object
 12  ASSOC_ACTOR_2     11167 non-null  object
 13  INTER2            65535 non-null  int64
 14  INTERACTION       65535 non-null  int64
 15  REGION            65535 non-null  object
 16  COUNTRY           65535 non-null  object
 17  ADMIN1            65535 non-null  object
 18  ADMIN2            65535 non-null  object
 19  ADMIN3            52331 non-null  object
 20  LOCATION          65535 non-null  object
 21  LATITUDE          65535 non-null  object
 22  LONGITUDE         65535 non-null  object
 23  GEO_PRECISION     65535 non-null  int64
 24  SOURCE            65535 non-null  object
 25  SOURCE_SCALE      65535 non-null  object
 26  NOTES             62931 non-null  object
 27  FATALITIES        65535 non-null  int64
 28  TIMESTAMP         65535 non-null  int64
dtypes: int64(10), object(19)
memory usage: 14.5+ MB

In [6]:
africa_df.describe()

,ISO,EVENT_ID_NO_CNTY,YEAR,TIME_PRECISION,INTER1,INTER2,INTERACTION,GEO_PRECISION,FATALITIES,TIMESTAMP
count,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,6.553500e+04
mean,149.277028,5613.921645,2012.979553,1.127092,3.236698,3.412558,31.378759,1.275578,5.922957,1.577213e+09
std,92.708267,6442.409058,7.195726,0.394759,1.959817,2.959861,18.248049,0.515145,55.833148,1.485495e+07
min,12.000000,1.000000,1997.000000,1.000000,1.000000,0.000000,10.000000,1.000000,0.000000,1.552576e+09
25%,108.000000,1345.500000,2008.000000,1.000000,1.000000,1.000000,13.000000,1.000000,0.000000,1.567462e+09
50%,148.000000,3530.000000,2016.000000,1.000000,3.000000,2.000000,27.000000,1.000000,0.000000,1.574122e+09
75%,180.000000,8038.000000,2019.000000,1.000000,5.000000,7.000000,44.000000,1.000000,1.000000,1.585692e+09
max,404.000000,47819.000000,2021.000000,3.000000,8.000000,8.000000,88.000000,3.000000,1350.000000,1.610411e+09

In [7]:
africa_df.YEAR.unique()

array([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020, 2021], dtype=int64)

In [8]:
africa_df.isnull().sum()

ISO                     0
EVENT_ID_CNTY           0
EVENT_ID_NO_CNTY        0
EVENT_DATE              0
YEAR                    0
TIME_PRECISION          0
EVENT_TYPE              0
SUB_EVENT_TYPE          0
ACTOR1                  0
ASSOC_ACTOR_1       52767
INTER1                  0
ACTOR2              15189
ASSOC_ACTOR_2       54368
INTER2                  0
INTERACTION             0
REGION                  0
COUNTRY                 0
ADMIN1                  0
ADMIN2                  0
ADMIN3              13204
LOCATION                0
LATITUDE                0
LONGITUDE               0
GEO_PRECISION           0
SOURCE                  0
SOURCE_SCALE            0
NOTES                2604
FATALITIES              0
TIMESTAMP               0
dtype: int64